@model List<Beer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beers with Cascade Hops:</h1>
    <ul>
        @foreach (Beer b in Model)
        {
                <li>@b.name</li>
        }
    </ul>
</div>
